html,
body {
    height: 100%;
    text-align: center;
    background-color: #99cacb;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

img {
    
    object-fit: contain;
    max-width: 100%;
}

.primary-image {
    height: 420px;
}

.images {
    height: 150px;
}


